@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
    font-family: 'Pathway Gothic One', sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    height: 60px;
}
header h1 {
    font-size: 26px;
    font-weight: bold;
}
header ul {
    display: flex;
    justify-content: center;
}
header li {
    list-style: none;
    margin: 0 5px;
    color: #828282;
}
header li:hover {
    color: black;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}
#vitrine {
    min-width: 75%;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cards li {
    list-style: none;
    width: 195px;
    height: 408px;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    min-width: 30%;
}
.cards li:hover {
    transform: scale(1.03);
}
.cards img {
    width: 100%;
    height: 200px;
}
.cards h3 {
    background-color: #2E245E;
    color: #fff;
    margin: 7px 0;
    padding: 5px;
    width: 72px;
    text-align: center;
}
.cards h4 {
    font-weight: bold;
    margin: 7px 0;
}
.cards p {
    color: #828282;
    margin: 7px 0;
    word-spacing: 2px;
}
.cards h5 {
    color: #2E245E;
    margin: 7px 0;
}
.cards button {
    background-color: transparent;
    color: #828282;
    border: none;
    margin: 7px 0;
}
.cards button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.boxPesquisa {
    display: flex;
    margin: 8px 0;
}
.boxPesquisa input {
    border: none;
    background-color: #F5F5F5;
}
.boxPesquisa button {
    background-color: #6B54DE;
    color: #fff;
    border: none
}
.boxPesquisa button:hover {
    cursor: pointer;
    background-color: #836FFF;
}
.carrinhoCompras h4 {
    background-color: #6B54DE;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.boxCarrinho {
    text-align: center;
    background-color: #F5F5F5;
    font-size: 22px;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxCarrinho p {
    color: #828282;
    font-size: 14px;
}
.boxCarrinho img {
    width: 60px;
    height: 80px;
}
.itensRow {
    display: flex;
    margin: 10px 0;
}
.itensRow p {
    margin: 5px 0;
    color: #2E245E;
    font-weight: bold;
    font-size: 1.12rem;
    letter-spacing: 2px;
}
.itensRow button {
    border: none;
    background-color: #DC143C;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px;
}
.itensRow button:hover {
    background-color: #FF0000;
    cursor: pointer;
    
}
.itensColumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 6px;
}
.sumir {
    display: none;
}

@media(min-width: 800px){
    #vitrine {
        max-width: 755px;
        margin-top: 8px;
    }
    .boxPesquisa input {
        width: 196px;
        height: 40px;
    }
    .carrinhoCompras h4 {
        width: 270px;
    }
}
@media(max-width: 799px){
    .boxPesquisa {
        flex-direction: column;
    }
}
@media(max-width: 426px){
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carrinho {
        max-width: 320px;
    }
}